/* src/components/Footer.css */
.footer {
    background-color: #000; /* Black color */
    color: #fff; /* White text */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; /* Reduce width to 80% of the viewport width */
    left: 50%;
    transform: translateX(-50%); /* Center the footer */
  }
  